<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static/img/logo.ico">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        /* Add CSS styles for chart containers */
        .chart-container {
            display: inline-block;
            width: 400px; /* Adjust the width as needed */
            margin-right: 20px; /* Adjust the margin as needed */
        }
    </style>
</head>
<body>

<h1>Admin Dashboard</h1>
<h2>Today's Revenue</h2>
<h4>{{ chart_data['today_revenue'] }}</h4>
<div class="content-container">
    <section class="date-selection-section">
        <form method="GET" action="{{ url_for('download_menu_excel') }}">
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date" required>

            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date" required>

            <button type="submit" class="btn btn-success">Download Excel</button>
        </form>
    </section>
</div>
<div class="content-container">
    <div class="chart-container">
        <canvas id="myPieChart" width="400" height="200"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="barChart" width="400" height="200"></canvas>
    </div>
</div>

<script>
    // Pie Chart
    const pieCtx = document.getElementById('myPieChart').getContext('2d');
    const myPieChart = new Chart(pieCtx, {
        type: 'pie',
        data: {
            labels: {{ pie_data.labels | tojson | safe }},
            datasets: [{
                data: {{ pie_data.data | tojson | safe }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(153, 102, 255, 0.6)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
        }
    });

    // Bar Chart
    const barCtx = document.getElementById('barChart').getContext('2d');
    const myChart = new Chart(barCtx, {
        type: 'bar',
        data: {
            labels: {{ chart_data.labels | tojson | safe }},
            datasets: [{
                label: 'Sale',
                data: {{ chart_data.data | tojson | safe }},
                backgroundColor: 'rgba(210,0,253,0.62)',
                borderColor: 'rgb(75,94,192)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

</body>
</html>
