<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIPnDIP</title>
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static/img/sipndip.ico">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1 style="text-shadow: black;">SIPnDIP</h1>

    <div class="button-container">
        <a href="{{ url_for('billing') }}"> <button class="primary-button">Billing</button> </a>
        <a href="{{ url_for('update_menu') }}"><button class="primary-button">Menu</button></a>
        <a href="{{ url_for('add_stock') }}"><button class="primary-button">Add Inventory</button></a>
        <a href="{{ url_for('admin') }}"><button class="primary-button">Admin</button></a>
    </div>
</body>
</html>
