<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIPnDIP</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static/img/sipndip.ico">
</head>
<body>
    <nav class="navbar">
        <div class="brand">
            <a href="/">
                <img src="/static/img/sipndip.png" alt="Brand Logo">
            </a>
            <a href="/">
                <span>SIPnDIP</span>
            </a>
        </div>
        <div class="buttons">
            <a href="{{ url_for('billing') }}"><button class="nav-button">Billing</button></a>
            <a href="{{ url_for('update_menu') }}"><button class="nav-button">Menu</button></a>
            <a href="{{ url_for('add_stock') }}"><button class="nav-button">Add Inventory</button></a>
            <a href="{{ url_for('view_inventory') }}"><button class="nav-button">Inventory</button></a>
            <a href="{{ url_for('admin') }}"><button class="nav-button">Admin</button></a>
        </div>
    </nav>

       <div>
           {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div id="flash-messages">
                        <ul class="flash-messages">x
                            {% for message in messages %}
                                <div class="flash-message">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
       </div>


    {% block content %}
    {% endblock %}
</body>
</html>
